#form input{
    display: inline;
    width: 75%;
    margin: 5% 0% 5% 12%;
    border: rgb(0, 0, 0);
    border-style: groove;
    
}

#form label{
    color: whitesmoke;
    margin-left: 12%;
    margin-top: 5%;
}


#form textarea{
    color: whitesmoke;
    margin-left: 12%;
    margin-top: 5%;
}

#form p{
    font-size: small;
    margin-left: 12%;
}

#form {
    border: white;
    border-style: inset;
    border-width: 5px;

}

body{
    color: whitesmoke;
}

#pwd-btn{
    margin-left: 60%;
    margin-bottom: 5%;
    width: auto;
}

@media (max-width: 977px) {
    #pwd-btn{
        margin-left: 20%;
        margin-bottom: 5%;
        width: auto;
    }
}